<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/header}" />
</head>

<body>

<header>
    <th:block th:include="~{/fragments/nav}" />
</header>

<main class="p-5 align-content-center bg-blur my-register-div my-main">
    <h1 class="text-light border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">
        <div class="row g-3 align-items-center">
            <img alt="Metallica image" src="/img/metallica.jpg" class="w-50 rounded">
        </div>
        <div class="row g-3 align-items-center">
            <form th:action="@{/users/login}"
                  th:object="${userLoginBindingModel}"
                  method="POST">
                <h5 th:if="${notFound}" class="text-center text-light form-text bg-danger rounded">User doesn't exists</h5>
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label text-light">Username</label>
                    </div>
                    <div class="col-auto">
                        <input type="text"
                               name="username"
                               th:field="*{username}"
                               th:erroclass="bg-danger"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline">
                    </div>
                    <div class="col-auto">
                        <small id="usernameError"
                               th:each="e : ${#fields.errors('username')}"
                               th:text="${e}"
                               class="text-light form-text bg-danger rounded">Length must between 3
                            and 20 characters</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label text-light">Password</label>
                    </div>
                    <div class="col-auto">
                        <input type="password"
                               name="password"
                               id="inputPassword"
                               th:field="*{password}"
                               th:erroclass="bg-danger"
                               class="form-control"
                               aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">
                        <small id="passwordError"
                               th:each="e : ${#fields.errors('password')}"
                               th:text="${e}"
                               class="text-light form-text bg-danger rounded">Length must between 5
                            and 20 characters</small>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer class="footer bg-blur">
    <th:block th:include="~{/fragments/footer}"/>
</footer>
</body>
</html>
