<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/header}" />
</head>

<body>

<header>
    <th:block th:include="~{/fragments/nav}" />
</header>

<main class="p-5 align-content-center bg-blur my-register-div my-main">
    <h1 class="text-light border-bottom">Register</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3 align-items-center">
            <img alt="Picture of Madonna" src="/img/madonna.jpg" class="w-50 rounded">
        </div>
        <div class="row g-3">
            <form th:action="@{/users/register}"
                  th:object="${userRegisterBindingModel}"
                  method="POST">
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label text-light">Username</label>
                    </div>
                    <div class="col-auto">
                        <input name="username"
                               type="text"
                               id="inputUsername"
                               th:field="*{username}"
                               th:errorclass="bg-danger"
                               class="form-control"
                               aria-describedby="usernameHelpInline">
                    </div>
                    <div class="col-auto">
                        <small id="usernameError"
                               th:each="e : ${#fields.errors('username')}"
                               th:text="${e}"
                               class="text-light form-text bg-danger rounded">Username length must be more than 3
                            characters</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputFullName" class="col-form-label text-light">Full Name</label>
                    </div>
                    <div class="col-auto">
                        <input type="text"
                               name="fullName"
                               th:field="*{fullName}"
                               th:errorclass="bg-danger"
                               id="inputFullName"
                               class="form-control"
                               aria-describedby="fullNameHelpInline">
                    </div>
                    <div class="col-auto">
                        <small id="fullNameError"
                               th:each="e : ${#fields.errors('fullName')}"
                               th:text="${e}"
                               class="text-light form-text bg-danger rounded">Full name length must be more than 3
                            characters</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputEmail" class="col-form-label text-light">Email</label>
                    </div>
                    <div class="col-auto">
                        <input type="text"
                               name="email"
                               id="inputEmail"
                               th:field="*{email}"
                               th:errorclass="bg-danger"
                               class="form-control"
                               aria-describedby="emailHelpInline">
                    </div>
                    <div class="col-auto">
                        <small id="emailError"
                               th:each="e : ${#fields.errors('email')}"
                               th:text="${e}"
                               class="text-light form-text bg-danger rounded">Must be valid email</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label text-light">Password</label>
                    </div>
                    <div class="col-auto">
                        <input type="password"
                               name="password"
                               id="inputPassword"
                               th:field="*{password}"
                               th:errorclass="bg-danger"
                               class="form-control"
                               aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">
                        <small id="passwordError"
                               th:each="e : ${#fields.errors('password')}"
                               th:text="${e}"
                               class="text-light form-text bg-danger rounded">Password length must be between 5 and 20 characters
                            characters</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label text-light">Confirm Password</label>
                    </div>
                    <div class="col-auto">
                        <input type="password"
                               name="confirmPassword"
                               id="inputConfirmPassword"
                               th:field="*{confirmPassword}"
                               th:errorclass="bg-danger"
                               class="form-control"
                               aria-describedby="confirmPasswordHelpInline">
                    </div>
                    <div class="col-auto">
                        <small id="confirmPasswordError"
                               th:each="e : ${#fields.errors('confirmPassword')}"
                               th:text="${e}"
                               class="text-light form-text bg-danger rounded">Password length must be between 5 and 20 characters</small>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer class="footer bg-blur">
    <th:block th:include="~{/fragments/footer}" />
</footer>
</body>
</html>
